
body {
	padding-top: 120px;
	height: 100%;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

ul.admtoolbar {
	background-color: lightgray;
	margin: 0 0 0 0;
}


/* footer */

.content-wrap {
	padding-bottom: 30px;
	height: 640px;
	/*padding-bottom should be exactly the same as height of our footer;*/
}



.footer {
	clear: both;
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	background: black;
	color: #fff;
	border-top: 5px #000 solid;
	height: 45px;
	margin-top: -31px;
}




a {
	color: gray;
}

	a.hover {
		color: darkgrey;
	}

small {
	float: left;
}

ul {
	float: right;
	list-style: none;
}

ul li {
		float: left;
		margin-left: 10px;
	}
